* {
  --light: #F1FDFF;
  --blue: #304DA0;
  --lightblue: #54CBF5;
  --shadow: 0px 1px 4px rgba(21, 24, 50, .08);
  --issue-height: 6px;
}

body {
  background-color: var(--light);
}

input, label {
  display: block;
}

svg * {
  stroke-width: 2px;
  shape-rendering: "geometricPrecision";
  font-size: 12px;
}

svg text {
  z-index: 2;
  position: relative;
}

svg rect {
  z-index: 1;
  position: relative;
  fill: white;
}

.guideline {
  stroke: #AAA;
}

.legendItem {
  display: inline-block;
  margin: 0px 12px;
}

.tag {
  border-radius: 100px;
  display: inline-block;
  height: 18px;
  width: 18px;
  margin: 0px 4px;
}

.a {
  background-color: #304DA0;
}

.aa {
  background-color: #54CBF5;
}

.aaa {
  background-color: #CCC;
}

.card {
  border: 1px solid var(--light);
  border-radius: 6px;
  box-shadow: var(--shadow);
  margin: 12px;
  display: inline-block;
  vertical-align: top;
  background-color: white;
  padding: 24px;
}

main {
  padding: 24px;
  max-width: 1200px;
  margin: 0 auto;
}

.bar-cont {
  width: 120px;
  text-align: center;
  display: inline-block;
}

.outer-bar-cont {
  position: relative;
}

.bar {
  height: calc(var(--issue-height) * 40);
  width: 24px;
  border: 1px solid black;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
}

.inner-bar {
  width: 100%;
  background-color: black;
  position: absolute;
  bottom: 0px;
}

.bar-grid-cont {
  position: absolute;
  width: 360px;
  height: calc(var(--issue-height) * 40);
}

.line {
  height: calc(var(--issue-height) * 5);
  border-top: 1px solid #666;
  width: 100%;
  box-sizing: border-box;
}

.first {
  border-top: none;
}