@import url("https://use.typekit.net/cre5xam.css");

* {
  --light: #F1FDFF;
  --blue: #304DA0;
  --lightblue: #54CBF5;
  --darkblue: #26296D;
  --shadow: 0px 1px 4px rgba(21, 24, 50, .08);
  --issue-height: 4px;
  font-family: proxima-nova, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--darkblue);
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: var(--darkblue) #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: var(--darkblue);
    border-radius: 10px;
    border: 3px solid #ffffff;
  }

body {
  background-color: #E8F5F7;
  width: 100%;
}

img {
  max-width: 100%;
}

button {
  background-color: var(--darkblue);
  color: var(--lightblue);
  border: none;
  border-radius: 5px;
  padding: 6px 12px;
  margin: 12px 0px;
  cursor: pointer;
}

h2 {
  margin-top: 0px;
  font-size: 20px;
  font-weight: 600;
}

.sr-only {
  position: absolute;
  left: -10000px;
}

fieldset {
  border: none;
}

.odd {
  background-color: var(--light);
}

.third {
  width: calc(33% - 24px);
  max-width: calc(33% - 24px);
  display: inline-block;
  vertical-align: top;
}

.two-thirds {
  width: calc(66% - 24px);
  max-width: calc(66% - 24px);
  display: inline-block;
  vertical-align: top;
}

input, label {
  display: block;
}

header {
  padding: 18px;
  background-color: var(--light);
  border-bottom: 1px solid var(--lightblue);
}

header svg {
  margin-right: 8px;
}


polyline {
  filter: drop-shadow(0px 10px 8px rgba(0, 0, 0, 0.2));
}

.logotext {
  width: fit-content;
  display: inline-block;
}

.logoname {
  font-size: 30px;
  color: var(--darkblue);
  line-height: 1px;
  font-weight: 600;
}

.logotag {
  font-size: 16px;
  color: var(--lightblue);
  display: block;
  font-weight: 600;
}

.right {
  color: white;
  float: right;
}

svg.complianceGraph {
  max-width: 100%;
}

svg.complianceGraph * {
  stroke-width: 2px;
  shape-rendering: "geometricPrecision";
}

.dateText {
  z-index: 2;
  position: relative;
  fill: var(--darkblue);
  font-size: 16px;
}

svg.complianceGraph .dateRect {
  z-index: 1;
  position: relative;
  fill: white;
}

.guideline {
  stroke: #AAA;
}

.hoverLine {
  stroke: rgba(0, 0, 0, 0);
  stroke-width: 50px !important;
  cursor: pointer;
}

#BG-2 {
  fill: white;
}

.legendItem {
  display: inline-block;
  margin: 4px 12px;
}

.tag {
  border-radius: 100px;
  display: inline-block;
  height: 18px;
  width: 18px;
  margin: 0px 4px;
  position: relative;
  top: 4px;
}

.titleCard {
  width: 100%;
  line-height: 1;
}

.titleCard h2 {
  margin-bottom: 0;
}

.titleCard strong {
  font-size: 24px;
}

.tooltip {
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}

.open {
  opacity: 1;
}

.inner h3 strong {
  color: white !important;
}

.a {
  background-color: #304DA0;
}

.aa {
  background-color: #54CBF5;
}

.aaa {
  background-color: #CCC;
}

.gen {
  background-color: black;
}

.card {
  border: 1px solid var(--light);
  border-radius: 6px;
  box-shadow: var(--shadow);
  margin: 12px;
  display: inline-block;
  vertical-align: top;
  background-color: white;
  padding: 24px;
  max-width: calc(100% - 74px);
  overflow: hidden;
  height: fit-content;
}

.textCard {
  width: calc(50% - 74px);
}

main {
  padding: 24px;
  max-width: 1600px;
  margin: 0 auto;
}

.compliance {
  width: calc(66% - 120px);
}

.bar-cont {
  width: 108px;
  text-align: center;
  display: inline-block;
}

.outer-bar-cont {
  position: relative;
  display: inline-block;
  width: fit-content;
}

.overview {
  display: inline-block;
  vertical-align: top;
}

.bar {
  height: calc(var(--issue-height) * 40);
  width: 24px;
  border: 1px solid black;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
}

.inner-bar {
  width: 100%;
  background-color: black;
  position: absolute;
  bottom: 0px;
  opacity: 0.9;
}

.bar-grid-cont {
  position: absolute;
  width: 324px;
  height: calc(var(--issue-height) * 40);
}

.line {
  height: calc(var(--issue-height) * 5);
  border-top: 1px solid #666;
  width: 100%;
  box-sizing: border-box;
}

.first {
  border-top: none;
}

.complianceGraph {
  margin: 0 auto;
}

.cat {
  max-width: calc(100% - 40px);
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.numIssues {
  float: right;
}

.issue {
  height: 24px;
  max-height: 24px;
  overflow: hidden;
  padding: 4px;
  cursor: pointer;
}

.issue:hover {
  height: fit-content;
  max-height: inherit;
  border: 1px solid #CCC;
}

.issue:hover > .cat {
  white-space: inherit;
  overflow: inherit;
}

.issuePanel h3, .noticePanel h2 {
  background-color: var(--darkblue);
  color: white;
  padding: 8px;
}

.inner {
  border-radius: 5px;
  max-height: 406px;
  overflow-y: scroll;
  padding-right: 12px;

}

.svgWrapper {
  text-align: center;
  position: relative;
  top: 32px;
}

strong {
  font-weight: 600;
}

.complianceWrapper {
  width: fit-content;
  margin: 0 auto;
}

.compliance {
  height: 247px;
}

.contact-wrapper {
  max-width: 300px;
  margin: 0 auto;
}

.contact-form {
  margin: 0 auto !important;
}

input, select, option, textarea {
  width: 100%;
}


@media screen and (max-width: 800px) {
  .third, .two-thirds, .card {
    width: 100%;
    max-width: calc(100% - 24px);
  }
}